.album-prew {
    display: block;

    &:hover {
        .album-prew__link {
            &:after {
                transform: translateX(6px);
            }
        }
    }

    &__cover {
        width: 100%;
    }

    &__title {
        margin-top: $padding * 0.5;
        margin-bottom: $padding * 0.5;
        font-size: rem(18px);
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__data {
        margin-top: 0;
    }
}