.album-prew {
    display: block;

    &:hover {
        .album-prew__link {
            &:after {
                transform: translateX(6px);
            }
        }
    }

    &__cover {
        max-width: 100%;
        display: block;
        height: auto;
    }

    &__title {
        margin-top: $padding * 0.5;
        margin-bottom: $padding * 0.5;
        font-size: rem(18px);

        @include media-max($xx-small) {
            font-size: rem(16px);
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    &__data {
        margin-top: 0;
    }

    &__link {
        margin: $padding * 0.5 0;
    }
}