.album-prew {
    display: block;

    &:hover {
        .album-prew__link-icon {
            transform: translateX(6px);
        }
    }

    &__cover {
        width: 100%;
    }

    &__title {
        margin-top: $padding * 0.5;
        margin-bottom: $padding * 0.5;
        font-size: rem(18px);
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__link {
        display: flex;
        align-items: center;
        font-weight: 400;
    }

    &__data {
        margin-top: 0;
    }

    &__link-icon {
        font-size: rem(22px);
        color: $accent-color;
        margin-left: $padding * 0.5;
        transition: transform $transition;
    }
}