.header {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 16px;
    padding-bottom: 0;
    padding-right: 0;
    margin-bottom: 5px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);

    &__logo {
        margin-top: -16px;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        padding-right: 16px;
    }

    &__right-box {
        max-width: 685px;
        display: flex;
        flex-direction: column;
    }

    &__contacts {
        display: flex;
        align-items: center;
        margin-left: 16px;
    }

    &__contact {
        transition: transform 0.2s;
        cursor: pointer;

        &:not(:last-child) {
            margin-right: 40px;
        }

        &:hover {
            .fas {
                color: #444;
            }
        }

        &:active {
            transform: scale(0.95);
        }

        &-text {
            font-size: rem(17px);
            font-weight: 100;
        }

        .fas {
            color: #F2C94C;
            margin-right: 12px;
            transition: color 0.25s;
        } 
    }

    

    &__menu {
        margin-top: 36px;
        padding-right: -16px;
    }
}

