.header {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: $padding 0 0 $padding;  
    min-height: $header-height;
    position: relative;
    z-index: 1;

    &--shadow {
        box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
    }

    &__logo {
        align-self: flex-start;
        margin-top: -$padding / 4;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        padding-right: $padding;
    }

    &__right-box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__contacts {
        display: flex;
        align-items: center;
        margin-left: $padding;
    }

    &__contact {
        transition: transform $transition;
        cursor: pointer;

        &:not(:last-child) {
            margin-right: 40px;
        }

        &:hover {
            .header__contact-icon {
                color: lighten(#F2C94C, 10%);
            }
        }

        &-text {
            font-size: rem(17px);
            font-weight: 100;
        }

        &-icon {
            color: #F2C94C;
            margin-right: $padding * 0.75;
            transition: color $transition;
        } 
    }
}

