.logo {
    display: flex;
    
    &__img {
        display: block;
        max-width: 100%;
        width: 180px;
        height: auto;
    }

    &__content {
        text-align: center;
        margin-left: 21px;
        font-size: rem(20px);
        line-height: 1;
        margin-top: 26px;
    }

    &__text {
        text-transform: uppercase;
        font-size: rem(13px);
    }

    &__name {
        font-weight: 700;
        margin: 0;
        line-height: 1;
        margin-top: 2px;
    }

    &__city {
        font-size: rem(16px);
    }
}