.logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    &--invers {
        color: $footer-font-color;
    }
    
    &__img {
        display: block;
        max-width: 100%;
        width: 180px;
        height: auto;
    }

    &__content {
        text-align: center;
        margin-left: $padding * 1.25;
        font-size: rem(20px);
        font-weight: 100;
        line-height: 1;

        @include media-max($x-small) {
            width: 100%;
            margin: 0;
            margin-top: $padding;
        }
    }

    &__text {
        text-transform: uppercase;
        font-size: rem(13px);
    }

    &__name {
        font-weight: 700;
        margin: 0;
        line-height: 1;
        margin-top: 2px;
    }

    &__city {
        font-size: rem(16px);
    }
}