.main-menu {
    display: flex;
    width: 100%;

    &__link {
        display: block;
        padding: 6px $padding 22px $padding;
        position: relative;
        text-align: center;

        &:not(:last-child) {
            // 2px for separator
            padding-right: $padding + 2; 

            &::after {
                content: '';
                position: absolute;
                top: 10px;
                right: 0;
                width: 2px;
                height: 15px;
                background-color: #f0f0f0;
            }     
        }

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 4px;
            background-color: #F2C94C;
            transition: transform 0.25s $transition-ease;
            transform: scale(0);
            transform-origin: center bottom;
        }

        &:hover {
            &::before {
                transform: scale(1);
            }
        }

        &.active {
            &::before {
                transform: scale(1);
            }
        }
    }
}