.news {
    display: flex;
    flex-direction: column;
    max-width: 257px;
    position: relative;

    &--separator {
        padding-bottom: $padding / 1.75;

        &:last-child {
            &:after {
                content: none;

                @include media-max($large) {    
                    content: '';
                }
            }
        }

        &:after {
            content: '';
            display: inline-block;
            position: absolute;
            bottom: 0;
            background-color: $content-bg-color;
            max-width: 100px;
            width: 80%;
            height: 2px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__photo {
        max-width: 100%;
        display: block;
    }

    &__photo-img {
        max-width: 100%;
        display: block;
        height: auto;
    }

    &__title {
        font-size: rem(16px);
        font-weight: 500;
        line-height: normal;
        margin-bottom: 0;
        margin-top: 0;
        transition: opacity $transition;

        &:hover {
            opacity: 0.88;
        }
    }

    &__title-link {
        display: block;
        padding-bottom: $padding / 2;
        padding-top: $padding / 1.75;
    }

    &__text {
        font-size: rem(15px);
        line-height: em(20px, 15px);
        font-weight: 100;
        margin: $padding / 2 0;
    }
}

// Boxes for news

.news-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;

    @include media-max($large) {    
        flex-direction: row;
        margin-left: -$padding * 0.5;
        margin-right: -$padding * 0.5;
    }

    @include media-max($xx-small) {
        justify-content: center;
    }

    &__title {
        width: 100%;
        margin-bottom: $padding * 2;

        @include media-max($large) {  
            margin-left: $padding * 0.5;   
        }

        @include media-max($xx-small) {  
            margin-left: 0; 
            justify-content: center;  
        }
    }  

    .news {
        @include media-max($medium) {  
            margin-left: $padding * 0.5;
            margin-right: $padding * 0.5;
        }
    }
}

.events-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
    @include media-max($large) {    
        flex-direction: row;
        margin-left: -$padding * 0.5;
        margin-right: -$padding * 0.5;
    }

    @include media-max($xx-small) {
        justify-content: center;
    }
    
    &__title {
        width: 100%;
        margin-bottom: $padding * 2;

        @include media-max($large) {  
            margin-left: $padding * 0.5;   
        }

        @include media-max($xx-small) {  
            margin-left: 0;   
            justify-content: center;  
        }
    }  

    .news {
        margin-top: $padding;

        &:first-of-type {
            margin-top: 0;
        }

        @include media-max($large) {
            margin-top: 0;

            &:not(:last-of-type) {
                margin-bottom: $padding * 2;
            }
        }
        @include media-max($medium) {  
            margin: 0 $padding * 0.5 $padding;
        }
    }
}

.news-sitebar {
    @include media-max($small) {    
        order: 3
    }
}

.events-sitebar {
    @include media-max($large) {    
        order: 2
    }
}