.others-list {
    padding: 0 $padding * 3;
    background-color: $background-color;

    @include media-max($small) {
        padding: 0 $padding * 1.5; 
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include media-max($large) {    
            margin-left: -$padding;
            margin-right: -$padding;
        }

        @include media-max($small) {    
            justify-content: center;
        }
    } 

    .news {
        margin-top: 0;
        margin-bottom: $padding * 3;
        @include media-max($large) {
            margin-bottom: $padding * 2;
        }
    }
}