* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

html {
    font-size: $font-size;
}

body {
    font-size: $font-size;
    font-weight: 300;
    overflow-x: hidden;
    font-family: $font-family;
    line-height: $line-height;
    min-width: $content-min-width;
    color: $font-color;
    background-color: $backface-color;
}