html, body {
    height: 100%;
}

html {
    font-size: $font-size;
}

body {
    font-size: $font-size;
    font-weight: 300;
    overflow-x: hidden;
    font-family: $font-family;
    line-height: $line-height;
    min-width: $content-min-width;
    color: $font-color;
    background-color: $backface-color;
}
 
#app {
    // min-height: 100%;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
}

.page {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #f9f9f9;
}

.container {
    width: 100%;
    max-width: $content-width;
    margin: 0 auto;
    position: relative;

    &--shadow {
        box-shadow: 0px 37px 37px rgba(0, 0, 0, 0.1);
    }
}