.button {
    padding: 0;
    margin: 0;
    border: 0;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: $link-dark-color;
    background-color: $accent-color;
    line-height: 1;
    border-radius: $border-radius;
    transition: background-color $transition, transform $transition;
    font-size: rem(16px);
    padding: $padding * 0.5 + 2 $padding $padding * 0.5;
    font-weight: 400;

    &:hover {
        background-color: lighten($accent-color, 12%);
    }

    &:active {
        transform: scale(0.95);
    }

    &--small {
        font-size: rem(12px);
        padding: $padding * 0.375 $padding * 0.75;
        padding-top: $padding * 0.375 + 2;
        font-weight: 400;
    }

    &--disabled {
        user-select: none;
        cursor: default;
        color: $breadcrumbs-color;
        pointer-events: none;
        background-color: $content-bg-color !important;
    }
}