.page {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #f9f9f9;
}

.container {
    width: 100%;
    max-width: $content-width;
    margin: 0 auto;
    position: relative;
    background-color: $background-color;
    box-shadow: 0px 37px 37px rgba(0, 0, 0, 0.1);
}

.page-content {
    background-color: $background-color;
    padding: $padding * 3 $padding * 3 $padding * 3.25; 
    // display: grid;
    // grid-template-columns: 6fr 2fr;
    // grid-column-gap: $padding * 2.875;
    // grid-row-gap: $padding * 2.25;
    // align-items: start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.page-main {
    width: 760px;
}

.page-sitebar {
    width: 257px;
}

.page-title {
    font-size: rem(23px);
    text-transform: uppercase;
    font-weight: 900;
    margin: 0 0  $padding * 3  0;
    vertical-align: middle;
    display: flex;
    line-height: normal;
    align-items: center;

    &--labeled {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 6px;
            left: -53px;
            width: 33px;
            height: 16px;
            display: block;
            background-image: url("../img/icons/red-label.svg");
        }
    }

    &__btn {
        margin-left: $padding * 2;
    }

    &__icon-pin {
        margin-left: 12px;
        color: #EB5757;
        transform: rotate(45deg);
    }
}

.page-title-h1 {
    font-size: rem(33px);
    font-weight: 900;
    line-height: normal;
    margin-top: 0;
    margin-bottom: $padding * 2.25;
}

.page-title-h2 {
    font-size: rem(28px);
    font-weight: 900;
    line-height: normal;
    margin-top: $padding * 1.5;
    margin-bottom: $padding * 1.5;
}

.page-title-h3 {
    font-size: rem(22px);
    font-weight: 900;
    line-height: normal;
    margin-top: $padding * 1.5;
    margin-bottom: $padding * 1.5;
}

.uppercase {
    text-transform: uppercase;
}

.page-slider-small {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: $padding * 3;

    .carousel {
        width: 772px;
        align-self: flex-start;
    }
}
