.text-block {
    font-size: rem(17px);
    line-height: em(24px, 17px);
    color: $font-color;
    box-sizing: border-box;

    img {
        display: block;
        max-width: 100%;
        margin-bottom: $padding * 2.25;
    }

    h1 {
        @extend .page-title-h1;
        margin-bottom: $padding * 1.5;
    }

    h2 {
        @extend .page-title-h2;
    }

    h3 {
        @extend .page-title-h3;
    }

    p {
        margin-top: $padding * 1.5;
        margin-bottom: $padding * 1.5;
        line-height: em(24px, 17px);
    }

    p:first-of-type {
        margin-top: 0;
    }

    p:last-of-type {
        margin-bottom: 0;
    }

    p.p-float-img {
        img {
            float: left;
            max-width: 300px;
            width: 100%;
            margin-bottom: $padding * 1.75;
            margin-right: $padding * 2;

            @include media-max($small) {
                float: none;
                margin: 0 auto;
                margin-bottom: $padding * 1.25;
            }
        }
    }

    b {
        font-weight: 700;
    }

    a {
        font-weight: 500;
        color: $font-color-accent;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
            opacity: 0.85;
        }
    }

    hr {
        border: none;
        background-color: $border-color;
        height: 1px;
        margin: $padding * 2 0;
    }

    table {
        th {
            background-color: $heading-background-color;
        }

        td, th {
            border: none;
        }
    }

    thead th {
        height: 48px;
        font-weight: 500;
        font-size: $font-size;
    }

    tbody td {
        padding: $padding - 3px $padding;
        border-bottom: 1px solid $border-color;
    }

    li + li {
        margin-top: 10px;
    }

    ul {
        list-style: none;
        margin: $padding * 3 0;
        padding-left: $padding * 4;

        @include media-max($small) {    
            margin: $padding * 2.25 0;
            padding-left: $padding * 3;
        }

        @include media-max(425px) {    
            padding-left: $padding * 2;
        }

        li {
            position: relative;

            &::before { 
                content: '';
                display: block;
                box-sizing: border-box;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                border: 3px solid $accent-color;
                background-color: transparent;
                position: absolute;
                top: 5px;
                left: -$padding * 2;
            }
        }
    }

    ol {
        list-style: none;
        counter-reset: list-counter;
        margin-top: $padding * 3;
        margin-bottom: $padding * 3;
        padding-left: $padding * 4;
        position: relative;

        @include media-max($small) {    
            margin: $padding * 2.25 0;
            padding-left: $padding * 3;
        }

        @include media-max(425px) {    
            padding-left: $padding * 2;
        }

        li {
            counter-increment: list-counter;
            position: relative;

            &::before {
                content: counter(list-counter) ".";
                display: inline-block;
                font-size: rem(17px);
                font-weight: 700;
                color: $accent-color;
                position: absolute;
                top: 5px;
                left: -$padding * 2;
            }
        }
    }
}


