.page {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #f9f9f9;
}

.container {
    width: 100%;
    max-width: $content-width;
    margin: 0 auto;
    position: relative;
    background-color: $background-color;
    box-shadow: 0px 37px 37px rgba(0, 0, 0, 0.1);

    @include media-max($large) {
        max-width: $medium;
    }
    @include media-max($medium) {
        max-width: 830px;
    }
    @include media-max(830px) {
        max-width: $small;
    }
    @include media-max($small) {
        max-width: 100%;
    }
    @include media-max($x-small) {
        max-width: 100%;
    }
}

.page-content {
    background-color: $background-color;
    padding: $padding * 3 $padding * 3 $padding * 3.25; 
    // display: grid;
    // grid-template-columns: 6fr 2fr;
    // grid-column-gap: $padding * 2.875;
    // grid-row-gap: $padding * 2.25;
    // align-items: start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include media-max($small) {
        padding: $padding * 2.5 $padding * 1.5; 
    }

    @include media-max($xxx-small) {
        padding: $padding $padding; 
    }
}

.page-main {
    max-width: 760px;
    width: 100%;
    //flex: 1;

    @include media-max($medium) {
        width: 100%;
    }
}

.page-sitebar {
    width: 257px;
    margin-left: $padding * 3 - 2;
    
    @include media-max($medium) {    
        margin: 0 auto;
        margin-top: $padding * 4;
        //order: 3;
        width: 100%;
    }
}

.page-title {
    font-size: rem(23px);
    text-transform: uppercase;
    font-weight: 900;
    margin: 0 0  $padding * 3  0;
    vertical-align: middle;
    display: flex;
    line-height: normal;
    align-items: flex-start;
    flex-wrap: wrap;

    @include media-max($medium) {
        margin-bottom: $padding * 2;
    }

    @include media-max($small) {
        &::before {
            content: none;
        }
    }

    &--labeled {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 6px;
            left: -53px;
            width: 33px;
            height: 16px;
            display: block;
            background-image: url("../img/icons/red-label.svg");
        }

        @include media-max($small) {
            &::before {
                content: none;
            }
        }
    }

    &__btn {
        margin-left: $padding * 2;

        @include media-max($xx-small) {
            margin-left: 0;
            margin-right: 50%;
            margin-top: $padding;
        }
    }

    &__icon-pin {
        margin-left: 12px;
        color: #EB5757;
        transform: rotate(45deg);
    }
}

.page-title-h1 {
    font-size: rem(33px);
    font-weight: 900;
    line-height: normal;
    margin-top: 0;
    margin-bottom: $padding * 2.25;

    @include media-max($x-small) {    
        font-size: rem(29px);
        margin-bottom: $padding * 1.5;
    }
}

.page-title-h2 {
    font-size: rem(28px);
    font-weight: 900;
    line-height: normal;
    margin-top: $padding * 1.5;
    margin-bottom: $padding * 1.5;
}

.page-title-h3 {
    font-size: rem(22px);
    font-weight: 900;
    line-height: normal;
    margin-top: $padding * 1.5;
    margin-bottom: $padding * 1.5;
}

.uppercase {
    text-transform: uppercase;
}


#app {
    height: 100%;
}

#app > .container {
    display: flex;
    flex-direction: column;
    height: 100%;
}