.page--index {
    .page-content {
        padding-top: $padding * 2.25;   

        @include media-max($large) {    
            padding-top: $padding * 1.75;
        };
    }

    .header {
        margin-bottom: 5px;
    }
    
    .carousel {
        max-width: 771px;
        width: 100%;
        min-width: 300px;
        flex: 1;
        align-self: flex-start;
        margin-bottom: $padding * 3;
    
        @include media-max($small) {    
            width: 95%;
            flex: auto;
            margin-right: auto;
            margin-left: auto;
        };

        @include media-max(425px) {
            margin: (-$padding * 1.5 - 4) (-$padding * 1.5) $padding * 2 (-$padding * 1.5);
        }

        @include media-max($xxx-small) {
            margin: (-$padding * 1.5 - 4) (-$padding) $padding * 2 (-$padding);
        }
    }

    .news-list {
        &__title {
            margin-left: 0;

            @include media-max($large) {
                margin-left: $padding * 0.5;
            }
        }

        @include media-max($large) {    
            flex-direction: column;
            margin-left: 0;
            margin-right: 0;
        }
    }

    .events-list {
        &__title {
            margin-left: 0;

            @include media-max($large) {
                margin-left: $padding * 0.5;
            }
        }

        @include media-max($large) {    
            flex-direction: column;
            margin-left: 0;
            margin-right: 0;
        }

        @include media-max($medium) {
            flex-direction: row;
            margin-left: -$padding * 0.5;
            margin-right: -$padding * 0.5;
        }
    }

    .news-sitebar {
        margin-bottom: $padding * 3;

        @include media-max($medium) {
            display: none;
        }
    }

    .hidden-sitebar {
        margin-bottom: $padding * 3;
        display: none;

        @include media-max($medium) {
            display: block;
        }
    }
}

