.article {
    padding-bottom: $padding * 3;
    //border-bottom: 1px solid $content-bg-color;
    //margin-bottom: $padding * 3;

    @include media-max($x-small) {
        padding-bottom: $padding * 1.5;
        margin-bottom: $padding * 2;
    }

    &__head {
        margin-top: -$padding * 0.5;
    } 
    
    &__content {
        margin: $padding * 2 0 $padding * 3; 
        padding-top: $padding * 2;
        padding-bottom: $padding * 3;
        border-top: 1px solid $content-bg-color;
        border-bottom: 1px solid $content-bg-color;

        @include media-max($xx-small) {
            margin: $padding * 1.75 0 $padding * 2.5; 
            padding-bottom: $padding * 2.5;
        }
    }
}