.flickity-viewport {
    transition: height 0.2s;
}

.carousel {
    width: 100%;

    &--main {
        margin-top: -5px;
    }

    &__cell {
        height: auto;
        align-items: center;
        background-color: $content-bg-color;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        margin-right: 1rem;
        width: 100%;
    }

    &__image {
        max-height: 100%;
        max-width: 770px;
        //opacity: 0;
        //transition: opacity $transition;

        @include media-max($large) {
            height: auto;
        }
    }

    &__image {
        &.flickity-lazyloaded,
        &.flickity-lazyerror {
            opacity: 1;
        }
    }
}

body .owl-carousel {
    .owl-nav {
        position: absolute;
        top: 50%;
        margin-top: -18px;
        width: 100%;

        .owl-prev, .owl-next {
            background-color: transparent;
            border-radius: 0;
            outline: none;
            text-decoration: none;
            background-repeat: no-repeat;

            &:hover {
                background-color: transparent;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                outline: none;
                text-decoration: none;
            }
        }

        .owl-prev, .owl-next {
            padding: 0;
            width: 36px;
            height: 34px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            display: flex;
            transition: opacity $transition;
            position: absolute;

            @include media-max(425px) {
                display: none;
            }

            &:focus {
                opacity: 1;
                box-shadow: none;
            }

            &:after {
                content: '\f054';
                position: absolute;
                display: inline-block;
                color: #fff;
                font-family: $icon-font;
                font-size: rem(21px);
                font-weight: 700;
                transition: transform $transition;
            }
        }


        .owl-prev {
            background-image: url($img-path + '/icons/Arrow-left.svg');
            left: -5px;

            &:after {
                margin-left: 10px;
                top: 1px;
                transform: rotate(180deg);
            }

            &:hover::after {
                top: 1px;
                transform: rotate(180deg) translateX(5px);
            }
        }

        .owl-next {
            background-image: url($img-path + '/icons/Arrow-right.svg');
            right: -5px;

            &:after {
                top: 2px;
                margin-left: 15px;
            }

            &:hover::after {
                transform: translateX(4px);
            }
        }
    }
}

body .owl-carousel {
    .owl-dots {
        bottom: 25px + 12px;
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        height: 0;

        .owl-dot {
            background-color: transparent;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            border: 2px solid #fff;
            opacity: 1;
            margin: 0 $padding / 4;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

            &.active {
                background-color: #fff;
            }
        }
    }
}


.slider-place {
    & > .carousel__cell:not(:first-child) {
        display: none;
    }
}

.owl-loaded {
    & > .carousel__cell:not(:first-child) {
        display: block;
    }
}