.contact-item {
    font-size: rem(20px);
    border: 6px solid #FFF1B1;
    padding: $padding * 1.75;

    @include media-max(768px) {
        font-size: rem(18px);
    }

    &__title {
        font-size: rem(22px);
        font-weight: 900;
        margin: 0;

        @include media-max(768px) {
            font-size: rem(22px);
        }
    }

    &__name {
        margin: $padding * 0.75 0 $padding * 1.75;
        font-size: rem(18px);
    }

    &__element {
        display: block;
        width: fit-content;
        padding: 2px;
    }

    &__icon {
        font-size: rem(18px);
        color: #F2C94C;
        margin-right: 12px;
        transition: opacity $transition;
        width: 15px;
        height: 15px;
        text-align: center;
    }
}