.link-arrow {
    display: inline-flex;
    align-items: center;
    font: inherit;
    line-height: normal;
    font-weight: 400;
    color: $link-dark-color;
    transition: color $transition;

    &.pseudo {
        &:after {
            content: '\f178';
            display: inline-block;
            font-family: $icon-font;
            font-size: rem(22px);
            font-weight: 300;
            margin-left: $padding * 0.5;
            color: $accent-color;
            transition: transform $transition;
        }

        &:hover {
            &:after {
                transform: translateX(8px);
            }
        }   
    }

    &.left {
        &.pseudo {
            &:after {
                content: none;
            }

            &:before {
                content: '\f177';
                display: inline-block;
                font-family: $icon-font;
                font-size: rem(22px);
                font-weight: 300;
                margin-right: $padding * 0.5;
                color: $accent-color;
                transition: transform $transition;
            }
    
            &:hover {
                &:before {
                    transform: translateX(-8px);
                }
            }
        }

        .link-arrow__icon {
            margin-right: $padding * 0.5;
            margin-left: 0;
        }

        &:hover {
            .link-arrow__icon {
                transform: translateX(-8px);
            }
        }
    }

    &__icon {
        margin-left: $padding * 0.5;
        font-size: rem(22px);
        color: $accent-color;
        transition: transform $transition;
    }

    &:hover {
        color: lighten($link-dark-color, 17%);

        .link-arrow__icon {
            transform: translateX(8px);
        }
    }
}