.others-list {
    padding: 0 $padding * 3;
    background-color: $background-color;

    @include media-max($small) {
        padding: 0 $padding * 1.5; 
    }

    &__title {
        @include media-max($xx-small) {    
            justify-content: center;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, 256px);
        grid-row-gap: $padding * 1.5;
        grid-column-gap: $padding;
        justify-content: space-between;
        margin-bottom: $padding * 2;

        @include media-max($xx-small) {
            justify-content: center;
        }
    } 
}