.schedule-table-wrap {
    width: 100%;
    overflow: auto;
    position: relative;
}

.schedule {
    min-width: 700px;
    width: 100%;
    margin-bottom: $padding;

    &__row {
        border-bottom: 1px solid $border-color;
    }

    &__caption {
        font-size: rem(18px);
        padding: $padding / 1.5;
    }

    &__cell {
        vertical-align: top;
        padding: $padding / 1.5;

        &--min {
            white-space: nowrap;
            width: 1px;
        }
    }

    &__head {
        text-align: left;

        .schedule__cell {
            font-weight: 700;
            font-size: rem(12px);
            padding: $padding / 1.5;
            text-transform: uppercase;
            background-color: lighten($accent-color, 35%);
            color: darken($accent-color, 32%);
        }
        
        .schedule__row {
            border-bottom: 2px solid $accent-color;
        }
    }
}

.schedule__table-small {
    width: 100%;

    &__row {
        
        &:nth-child(even) {
            background-color: #f7f7f7;
        }
    }

    &__cell {
        padding: 0 4px 0 8px;
        line-height: 25px;
        height: 25px;
        
    }
}